@use "../partials/_variables.scss" as *;


.collection-card {
  background-color: #f0f8ff;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    background-color: #dbefff; // Colore più intenso all'hover
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  h6 {
    color: #003366;
  }

  small {
    color: #555;
  }
}
